.catalog-item__speed {
    color:       #fff;
    font-weight: bold;
    display:     inline-block;
    padding:     5px 7px 5px 12px;
}

.catalog-item__speed_default {
    color:       black;
    border:      1px solid #c8c7c7;
    border-left: none;
}

.catalog-item__speed_brown {
    background: #805a40;
}

.catalog-item__speed_blue {
    background: #5050f5;
}

.catalog-item__speed_red {
    background: #ff4800;
}
