.header {
    font-weight:     bold;
    display:         flex;
    align-items:     center;
    justify-content: center;
    background:      #fff;
    margin-bottom:   12px;
    padding-top:     9px;
    padding-bottom:  9px;
    border-bottom:   1px solid #dbdbde;
    user-select:     none;
    cursor:          default;
}

.header-text {
    flex-grow:  1;
    margin:     0;
    text-align: center;
}

.back-icon {
    display:          inline-block;
    position:         absolute;
    left:             6px;
    background-image: url("../../Assets/icons/left-chevron_green.svg");
    width:            20px;
    height:           20px;
    justify-self:     flex-start;
    cursor:           pointer;
}

.back-icon_hidden {
    display: none;
}
